.body {
    margin: 30px auto 30px auto;
}

.center {
    text-align: center;
}

.title {
    font-family: fantasy;
}

.date {
    font-family: fantasy;
}

.titleheader {
    padding-right:130px;
}

.marqueeclass {
    text-align: center;
}

.marqueeclass a{
    color: darkmagenta;
}

.space-big {
    margin: 25px auto 25px auto;
}

.space-small {
    margin: 10px auto 10px auto;
}

.font-large {
    font-size: large;
}

.font-x-large {
    font-size: x-large;
}

.font-xx-large {
    font-size: xx-large;
}

.font-xxx-large {
    font-size: xxx-large;
}

.font-medium {
    font-size: medium;
}

.footer {
    font-weight: bold;
    border-top: 1px solid gray;
    padding: 20px 200px 20px 200px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.color-seagreen{
    color: seagreen;
}

.color-royalblue {
    color: royalblue;
}

.color-coral {
    color: coral;
}

.color-grey {
    color: grey;
}

th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }