.body {
    margin: 0px auto 30px auto;
}

.center {
    text-align: center;
}

.title {
    font-family: fantasy;
}

.date {
    font-family: fantasy;
}

.titleheader {
    padding-right:130px;
}

.titleheader a {
    text-decoration: none;
    color: black;
}

.marqueeclass {
    text-align: center;
}

.marqueeclass a{
    color: darkmagenta;
}

.space-big {
    margin: 25px auto 25px auto;
}

.space-small {
    margin: 10px auto 10px auto;
}

.font-large {
    font-size: large;
}

.font-x-large {
    font-size: x-large;
}

.font-xx-large {
    font-size: xx-large;
}

.font-xxx-large {
    font-size: xxx-large;
}

.font-medium {
    font-size: medium;
}

.footer {
    font-weight: bold;
    border-top: 1px solid gray;
    padding: 20px 200px 20px 200px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.color-seagreen{
    color: seagreen;
}

.color-royalblue {
    color: royalblue;
}

.color-coral {
    color: coral;
}

.color-grey {
    color: grey;
}

th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }



  .fab {
    background: #03a9f4;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 48px;
    right: 48px;
    font-size: 2.6667em;
    display: inline-block;
    cursor: default;
  }
  .fab span {
    vertical-align: middle;
  }
  .fab.child {
    width: 177.66666667px;
    height: 51.66666667px;
    display: none;
    opacity: 0;
    font-size: 2em;
    border-radius: 0%;
  }
  .fab a {
      text-decoration: none;
      color: white;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ececec;
    opacity: 0.9;
    display: none;
  }


  @media screen and (max-width: 1000px) {
    .fab {
        background: #03a9f4;
        width: 101px;
        height: 101px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
        position: fixed;
        bottom: 48px;
        right: 48px;
        font-size: 3.6667em;
        display: inline-block;
        cursor: default;
      }
      .fab span {
        vertical-align: middle;
      }
      .fab.child {
        width: 260.66666667px;
        height: 64.66666667px;
        display: none;
        opacity: 0;
        font-size: 41px;
        border-radius: 0%;
      }
      .fab a {
          text-decoration: none;
          color: white;
      }
      .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ececec;
        opacity: 0.9;
        display: none;
      }
  }


.chart-class {
    width: 100%;
    height: 450px;
}
  